body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.block {
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 400px;
    background: linear-gradient(0deg, #000, #272727);
}

.moving-glow:before, .moving-glow:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    animation: anim-moving-glow 20s linear infinite;
 
}

@keyframes anim-moving-glow {
    0% {
          background-position: 0 0;
    }
    50% {
          background-position: 400% 0;
    }
    100% {
          background-position: 0 0;
    }
}

.moving-glow:after {
    filter: blur(30px);
}
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif black;
}
.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.container span{
    text-transform: uppercase;
    display: block;
}
.text1{
    color:#ff0000;
    font-size: 5em ;
    font-weight: 1500;
    letter-spacing: 8px;
    margin-bottom: 175px;
    position: relative;
    animation: text 5s infinite;
}
.text2
{
    color:#ff0000;
    font-size: 5em ;
    font-weight: 2000;
    letter-spacing: 8px;
    margin-bottom: 125px;
    position: relative;
    animation: text 7s infinite;
}



.wrap{
    top: 45%;
    left: 45%;
    position: absolute;
    transform: translate(-50%,-50%);

}
.heart{
    position: relative;
}
.heart:before, .heart:after{
    position: absolute;
    content: "";
    left: 70px;
    top: -70px;
    width: 70px;
    height:115px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}
.heart:after{
left: 0;
transform: rotate(45deg);
transform-origin: 100% 100%;
}